.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  white-space: pre-wrap;
  cursor: pointer;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.modal {
  position: fixed;
  top: 50%;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  white-space: pre-wrap;
  background-color: var(--dialog-bg);
  border: var(--dialog-border);
  border-radius: 30px;
}
.modal__description {
margin-top: 1em;
margin-bottom: 0.4em;
}

.modal__role {
margin-top: 1.4em;
font-weight: 500;
font-size: 1.3rem;
color: var(--clr-fg-alt);
}

.modal__my_role {
margin-top: 1em;
margin-bottom: 2em;
}